.action-link{
	background:transparent;
	margin:0 .667rem;
	border:none;
}

.delete-highlight{
	background:#e74c3c;
}

td.actions{
	a ~ a{
		margin:0 .667rem;
	}
}

form{
	.btn-group{
		margin-bottom:1rem;
		h5{
			margin-bottom:.667rem;
		}
	}
}
