.action-link{
	background:transparent;
	margin:0 .667rem;
	border:none;
}

.delete-highlight{
	background:#e74c3c;
}

td.actions{
	a ~ a{
		margin:0 .667rem;
	}
}

form{
	.btn-group{
		margin-bottom:1rem;
		h5{
			margin-bottom:.667rem;
		}
	}
	.alert-success{
		margin: .667rem 0 .446rem;
		//margin-bottom:0px;
	}
}

.item-details{
    margin:1rem 0;
}

.top-bar{
    margin:1.5rem 0;
    .form-group{
        margin-top:1rem;
        margin-bottom:0;
    }
}

/*
 ** Approve Move Request Page
 **
 */
.transition-block{
    display:table;
    width:100%;
    margin-bottom:2.25rem;
    div {
        float:none;
        display:table-cell;
        vertical-align:middle;
        label{
            display:block;
            margin-bottom:0;
        }
        p{
            margin:0;
        }
    }
        
}
